<% if(userData.loggedIn==true){ %>

    <% naviActive="changepw" %>
        <!DOCTYPE html>
        <html lang="en">

        <head>
            <%- include('partial/head') %>
        </head>

        <body>

            <div class="container-scroller">
                <!-- partial:../../partials/_sidebar.html -->
                <nav class="sidebar sidebar-offcanvas" id="sidebar">
                    <%- include('partial/nav') %>
                </nav>
                <!-- partial -->
                <div class="container-fluid page-body-wrapper">

                    <nav class="navbar p-0 fixed-top d-flex flex-row">
                        <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                            <p>PW Tresor Sven</p>
                        </div>
                        <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                            <button class="navbar-toggler navbar-toggler align-self-center" type="button"
                                data-toggle="minimize">

                            </button>

                            <ul class="navbar-nav navbar-nav-right">
                                <li class="nav-item dropdown d-none d-lg-block">

                                    <form action="/customer/logout" method="POST">

                                        <input type="text" name="newtask" placeholder="add new task" hidden>
                                        <button id="logoutButton"
                                            class="nav-link btn btn-danger create-new-button d-inline-block">Logout</button>

                                    </form>

                                </li>
                            </ul>
                            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
                                type="button" data-toggle="offcanvas">
                                <span class="mdi mdi-format-line-spacing"></span>
                            </button>
                        </div>
                    </nav>
                    <!-- partial -->
                    <div class="main-panel">

                        <div class="content-wrapper">
                            <div class="page-header">
                                <h3 class="page-title">Change account pw</h3>
                                <div class="message"></div>
                            </div>

                            <div class="col-lg-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Change your account pw</h4>



                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="changePwModalLongTitle">Change pw</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form action="/customer/changepw" method="POST">
                                                    <div class="modal-body">
                                                        <div class="form-group">
                                                            <label>Old pw</label>
                                                            <input type="password" id="oldPw" name="oldPw"
                                                                class="form-control p_input" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>New pw</label>
                                                            <input type="password" id="newPw" name="newPw"
                                                                class="form-control p_input" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>New pw</label>
                                                            <input type="password" id="newPw1" name="newPw1"
                                                                class="form-control p_input" required>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">Save
                                                            changes</button>
                                                    </div>
                                                </form>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>

                            <%- include('partial/footer') %>


                                <!-- partial -->
                        </div>
                        <!-- main-panel ends -->
                    </div>
                    <!-- page-body-wrapper ends -->
                </div>

                <!-- container-scroller -->
                <!-- plugins:js -->
                <script src="/js/automaticlogout.js"></script>
                <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
                <!-- endinject -->
                <!-- Plugin js for this page -->
                <script src="../../assets/vendors/chart.js/Chart.min.js"></script>
                <!-- End plugin js for this page -->
                <!-- inject:js -->
                <!-- End custom js for this page -->
        </body>

        </html>
        <% }%>
