<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <div style="display:block">
            <div>
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"><a target="_blank" href="https://github.com/SvenHerr/Pw-manager-nodejs">Github</a></span>
            </div>
            <div>
                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"><a target="_blank" href="https://herrmannsven.de">Sven Herrmann</a></span>
            </div>
        </div>
    </div>
</footer>
