<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"><a target="_blank" href="https://herrmannsven.de">Copyright © Sven Herrmann</a></span>   
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"><a target="_blank" href="https://herrmannsven.de">Github</a></span>
    </div>
</footer>